---
import CtaFreeConsulting from '@components/ctaFreeConsulting.astro';
import Navbar from '@components/navbar.astro';
import Layout from '@layouts/Layout.astro';
import Hero from '@sections/Hero.astro';
import LegalExperience from '@sections/LegalExperience.astro';
import VisionM from '@sections/VisionM.astro';
import { Services as LegalServices } from '../const/services.js'
import ValueWord from '@components/ValueWord.astro';
import ValuesWords from '@components/ValuesWords';
---

<Layout title="Welcome to Astro.">


    <Hero/>
    <LegalExperience/>
    <VisionM/>

  



    <section class="pb-32 py-28 flex items-center justify-center">
        <div class="mx-6 rounded-xl flex flex-col gap-10 max-w-screen-xl w-full md:gap-10">
          <h2 class="uppercase flex flex-col text-center text-2xl lg:text-4xl">
            <strong class="text-[#2d2e3e] text-center">Conoce todos nuestros</strong> 
            servicios legales
          </h2>
      
          <div class="w-full overflow-hidden flex justify-center items-center rounded-xl">
            <div class="flex snap-x snap-mandatory overflow-x-scroll relative rounded-xl scrollbar-hide first:ml-6 last:mr-6 md:grid md:grid-cols-2 md:gap-10 lg:grid-cols-3">
              {
                LegalServices.map((service, idx) => (
                  <a 
                    href={`/services/${service.id.toLowerCase()}`}
                    class="block relative rounded-xl overflow-hidden
                      flex-shrink-0 w-[85%] snap-center mx-[2.5%] 
                      md:m-0 md:w-full md:transition-all md:duration-300 md:hover:shadow-xl"
                  >
                    <div 
                
                      class="img__hero relative h-[20rem] md:h-80 group"
                    >
                      <div class="absolute inset-0 bg-black/40 transition-opacity duration-300 group-hover:bg-black/20" />
                      
                      {/* Mobile Layout */}
                      <div class="relative h-full w-full flex items-center justify-center md:hidden">
                        <div class="flex flex-col items-center justify-center w-full h-full">
                          <h3 
                            transition:name={`title-${service.id}`}
                            class="font-bold text-2xl text-center text-white uppercase transition-all duration-300 max-w-[280px]"
                          >
                            {service.Hero.title}
                          </h3>
                          
                          <div class="transition-all duration-300 flex flex-col items-center justify-center gap-2 text-white text-center px-4">
                            <p class="text-base line-clamp-2 mx-3 text-balance">
                              {service.Hero.description}
                            </p>
                            <button transition:name={`title-${service.id}button`} class="py-2 px-6 rounded-full bg-white/10 backdrop-blur-sm hover:bg-white/20">
                              {service.Hero.buttonText}
                            </button>
                          </div>
                        </div>
                      </div>
      
                      {/* Desktop Layout */}
                      <div class="hidden md:flex relative h-full w-full items-center justify-center">
                        <div class="flex flex-col items-center justify-center w-full h-full">
                          <div class="transition-all flex flex-col items-center justify-center gap-0 px-4 text-white text-center">
                            <h3 
                              transition:name={`title-${service.id}`}
                              class="font-bold h-[64px] max-w-[170px] mt-2 text-2xl flex items-center justify-center text-white uppercase duration-[400ms] md:relative md:top-1/2 md:-translate-y-10 transition-all md:group-hover:translate-y-0 md:group-hover:top-0"
                            >
                              {service.Hero.title}
                            </h3>
                            
                            <div class="text-base max-w-full mt-3 transition-all duration-500 translate-y-48 md:opacity-0 md:group-hover:translate-y-0 md:group-hover:opacity-100">
                              <p>{service.Hero.description}</p>
                              <button transition:name={`title-${service.id}button`}  class="py-2 px-6 mt-4 rounded-full bg-white/10 backdrop-blur-sm hover:bg-white/20">
                                {service.Hero.buttonText}
                              </button>   
                            </div>
                          </div>
                        </div>
                      </div>
      
                      {
                        idx + 1 === LegalServices.length && (
                          <div class="py-1 px-3 border-[1px] border-white/30 rounded-full text-white text-sm absolute top-3 right-3 backdrop-blur-3xl bg-black/30">
                            Último servicio
                          </div>
                        )
                      }
                    </div>
                  </a>
                ))
              }
            </div>
          </div>
        </div>
    </section>
    
    <section class="pb-32 py-28 flex items-center justify-center">
        <div class="mx-6 rounded-xl flex flex-col gap-10 max-w-screen-xl w-full md:gap-10">
          <h2 class="uppercase flex flex-col text-center text-2xl lg:text-4xl">
            <strong class="text-[#2d2e3e] text-center">Conoce todos nuestros</strong> 
            servicios legales
          </h2>

          <div class=" items-center w-full justify-center gap-8">
            <ValuesWords client:only/>
          </div>


        </div>
    </section>

    <!-- <section class="pb-32 py-28 flex items-center justify-center">
      <div class="mx-6 w-full max-w-screen-xl h-52 flex flex-col gap-8">
          <h2 class="uppercase flex flex-col text-center text-2xl lg:text-4xl">
            <strong class="text-[#2d2e3e] text-center">Conoce todos nuestros</strong> 
            servicios legales
          </h2>

          <ValueWord word="I" endingWord="innovación" description="Cada caso es único, 10 que nos obliga a proponer nuevas formas de defensa."/>
          <ValueWord word="N" endingWord="normatividad" description="Cada caso es único, 10 que nos obliga a proponer nuevas formas de defensa."/>
          <ValueWord word="T" endingWord="Transpararencia" description="Cada caso es único, 10 que nos obliga a proponer nuevas formas de defensa."/>
          <ValueWord word="E" endingWord="Experiencia" description="Cada caso es único, 10 que nos obliga a proponer nuevas formas de defensa."/>
          <ValueWord word="G" endingWord="Gratitud" description="Cada caso es único, 10 que nos obliga a proponer nuevas formas de defensa."/>
          <ValueWord word="R" endingWord="Respeto" description="Cada caso es único, 10 que nos obliga a proponer nuevas formas de defensa."/>
          <ValueWord word="I" endingWord="identidad" description="Cada caso es único, 10 que nos obliga a proponer nuevas formas de defensa."/>
          <ValueWord word="D" endingWord="diversidad" description="Cada caso es único, 10 que nos obliga a proponer nuevas formas de defensa."/>
          <ValueWord word="A" endingWord="actualización" description="Cada caso es único, 10 que nos obliga a proponer nuevas formas de defensa."/>
          <ValueWord word="D" endingWord="Diferencias" description="Cada caso es único, 10 que nos obliga a proponer nuevas formas de defensa."/>
         
      </div>
    </section> -->
   
	
</Layout>



<style>

    .img__hero {
        background-image: linear-gradient(180deg, #12121298 54%, #1c1c1c), url(/Hero_img.webp);
        background-size: cover;
        background-position: center;
    }




</style>