---
import LayoutDT from "@layouts/LayoutDT.astro";

const contactInfo = {
    name: "Lic. Josué Alejandro Luna Monroy",
    title: "Director Ejecutivo",
    email: "jaluna@rand.com.mx",
    website: "https://rand.com.mx",
    address: "Goethe 24 col. Anzures C.Z 11590 CDMX Alcaldía Miguel Hidalgo",
    linkedin: "https://www.linkedin.com/company/rand",
    whatsapp: "//wa.me/525512950770", // Reemplazar con el número real
    maps: "https://www.google.com/maps/dir//Goethe+24,+Anzures,+Miguel+Hidalgo,+11590+Ciudad+de+México,+CDMX/@19.4289681,-99.2167453,13z/data=!4m9!4m8!1m0!1m5!1m1!1s0x85d1ff4cfafa0a5d:0x99b2a59a86c443a4!2m2!1d-99.1755454!2d19.4289727!3e0?entry=ttu&g_ep=EgoyMDI0MTExMS4wIKXMDSoASAFQAw%3D%3D",
    company: "Rand - Despacho de abogados",
};
---

<LayoutDT title="Rand | CEO">
    <main class="flex items-center justify-center min-h-svh">
        <div class="perspective w-full max-w-[420px] mx-auto px-6">
            <div
                class="card-container relative transition-transform duration-700 transform-style-preserve-3d"
            >
                <!-- card front -->
                <article
                    class="lg:card-front bg-white rounded-2xl relative backface-hidden"
                >
                    <div class="relative h-full w-full">
                        <header
                            class="w-full flex items-center justify-center flex-col relative"
                        >
                            <img
                                src="/bg_digital_card.png"
                                class="w-full h-[165px] object-cover rounded-tl-2xl rounded-tr-2xl"
                                alt=""
                            />
                            <a 
                                class="absolute w-16 top-3 right-3 "
                                href=`${contactInfo.website}`>
                                <img
                                    src="/logo_rand_variant.webp"
                                    alt=""
                                />
                            </a>
                            <div
                                class="absolute bottom-[-4.5em] bg-white p-1.5 rounded-full"
                            >
                                <img
                                    src="/lic_Luna.webp"
                                    class="w-[130px] h-[130px] object-cover"
                                    alt=""
                                />
                            </div>
                        </header>

                        <div class="pt-[4.5rem] pb-2 px-6 flex flex-col gap-5">
                            <div class="text-center">
                                <h1 class="font-bold text-secondary text-lg">
                                    Lic. Josué Alejandro Luna Monroy
                                </h1>
                                <p class="font-semibold text-sm text-[#49494D]">
                                    Director Ejecutivo
                                </p>
                            </div>

                            <div class="flex flex-col gap-3">
                                <a
                                    href="mailto:@correo.com"
                                    class="flex items-center gap-2"
                                >
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="#2e3140"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="icon icon-tabler icons-tabler-outline icon-tabler-mail"
                                    >
                                        <path
                                            stroke="none"
                                            d="M0 0h24v24H0z"
                                            fill="none"></path>
                                        <path
                                            d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
                                        ></path>
                                        <path d="M3 7l9 6l9 -6"></path>
                                    </svg>
                                    <p class="font-semibold text-[13px]">
                                        jaluna@rand.com.mx
                                    </p>
                                </a>

                                <a href=`${contactInfo.website}` class="flex items-center gap-2">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="#2e3140"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="icon icon-tabler icons-tabler-outline icon-tabler-world-www"
                                    >
                                        <path
                                            stroke="none"
                                            d="M0 0h24v24H0z"
                                            fill="none"></path>
                                        <path
                                            d="M19.5 7a9 9 0 0 0 -7.5 -4a8.991 8.991 0 0 0 -7.484 4"
                                        ></path>
                                        <path
                                            d="M11.5 3a16.989 16.989 0 0 0 -1.826 4"
                                        ></path>
                                        <path
                                            d="M12.5 3a16.989 16.989 0 0 1 1.828 4"
                                        ></path>
                                        <path
                                            d="M19.5 17a9 9 0 0 1 -7.5 4a8.991 8.991 0 0 1 -7.484 -4"
                                        ></path>
                                        <path
                                            d="M11.5 21a16.989 16.989 0 0 1 -1.826 -4"
                                        ></path>
                                        <path
                                            d="M12.5 21a16.989 16.989 0 0 0 1.828 -4"
                                        ></path>
                                        <path d="M2 10l1 4l1.5 -4l1.5 4l1 -4"
                                        ></path>
                                        <path d="M17 10l1 4l1.5 -4l1.5 4l1 -4"
                                        ></path>
                                        <path d="M9.5 10l1 4l1.5 -4l1.5 4l1 -4"
                                        ></path>
                                    </svg>
                                    <p class="font-semibold text-[13px]">
                                        rand.com.mx
                                    </p>
                                </a>

                                <a href=`${contactInfo.maps}` class="flex items-center gap-2">
                                    <div class="min-w-[24px] min-h-[24px]">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="#2e3140"
                                            class="icon icon-tabler icons-tabler-filled icon-tabler-map-pin"
                                        >
                                            <path
                                                stroke="none"
                                                d="M0 0h24v24H0z"
                                                fill="none"></path>
                                            <path
                                                d="M18.364 4.636a9 9 0 0 1 .203 12.519l-.203 .21l-4.243 4.242a3 3 0 0 1 -4.097 .135l-.144 -.135l-4.244 -4.243a9 9 0 0 1 12.728 -12.728zm-6.364 3.364a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z"
                                            ></path>
                                        </svg>
                                    </div>
                                    <p
                                        class="font-semibold text-[13px] text-balance"
                                    >
                                        Goethe 24 col. Anzures C.Z 11590 CDMX
                                        Alcaldiá Miguel Hidalgo
                                    </p>
                                </a>
                            </div>

                            <div class="flex flex-col gap-5">
                                <div>
                                    <strong class="text-xs"
                                        >Redes sociales</strong
                                    >
                                    <div class="flex items-center gap-3">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="#2e3140"
                                            class="icon icon-tabler icons-tabler-filled icon-tabler-brand-linkedin"
                                        >
                                            <path
                                                stroke="none"
                                                d="M0 0h24v24H0z"
                                                fill="none"></path>
                                            <path
                                                d="M17 2a5 5 0 0 1 5 5v10a5 5 0 0 1 -5 5h-10a5 5 0 0 1 -5 -5v-10a5 5 0 0 1 5 -5zm-9 8a1 1 0 0 0 -1 1v5a1 1 0 0 0 2 0v-5a1 1 0 0 0 -1 -1m6 0a3 3 0 0 0 -1.168 .236l-.125 .057a1 1 0 0 0 -1.707 .707v5a1 1 0 0 0 2 0v-3a1 1 0 0 1 2 0v3a1 1 0 0 0 2 0v-3a3 3 0 0 0 -3 -3m-6 -3a1 1 0 0 0 -.993 .883l-.007 .127a1 1 0 0 0 1.993 .117l.007 -.127a1 1 0 0 0 -1 -1"
                                            ></path>
                                        </svg>
                                        <div class="xss:hidden">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="24"
                                                height="24"
                                                viewBox="0 0 24 24"
                                                fill="#2e3140"
                                                class="icon icon-tabler icons-tabler-filled icon-tabler-brand-whatsapp"
                                            >
                                                <path
                                                    stroke="none"
                                                    d="M0 0h24v24H0z"
                                                    fill="none"></path>
                                                <path
                                                    d="M18.497 4.409a10 10 0 0 1 -10.36 16.828l-.223 -.098l-4.759 .849l-.11 .011a1 1 0 0 1 -.11 0l-.102 -.013l-.108 -.024l-.105 -.037l-.099 -.047l-.093 -.058l-.014 -.011l-.012 -.007l-.086 -.073l-.077 -.08l-.067 -.088l-.056 -.094l-.034 -.07l-.04 -.108l-.028 -.128l-.012 -.102a1 1 0 0 1 0 -.125l.012 -.1l.024 -.11l.045 -.122l1.433 -3.304l-.009 -.014a10 10 0 0 1 1.549 -12.454l.215 -.203a10 10 0 0 1 13.226 -.217m-8.997 3.09a1.5 1.5 0 0 0 -1.5 1.5v1a6 6 0 0 0 6 6h1a1.5 1.5 0 0 0 0 -3h-1l-.144 .007a1.5 1.5 0 0 0 -1.128 .697l-.042 .074l-.022 -.007a4.01 4.01 0 0 1 -2.435 -2.435l-.008 -.023l.075 -.041a1.5 1.5 0 0 0 .704 -1.272v-1a1.5 1.5 0 0 0 -1.5 -1.5"
                                                ></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>

                                <button
                                    id="saveContact"
                                    class="rounded-2xl w-fit px-4 py-1.5 bg-secondary uppercase text-sm font-medium mx-auto text-white sm:max-w-[60%]"
                                >
                                    Guardar contacto
                                </button>

                                <p
                                    class="font-extrabold text-[10px] uppercase text-center"
                                >
                                    Despacho de abogados
                                </p>
                            </div>

                            <a
                                href=`${contactInfo.whatsapp}`
                                class="hidden absolute xss:bottom-[5rem] xss:right-[-.9rem] xss:p-3 xs:bottom-[2rem] xs:right-[-2.5rem] xss:flex items-center justify-center xs:p-4 bg-secondary border-[2.5px] border-white rounded-full"
                            >
                                <div class="xss:w-9 xs:w-[50px]">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="auto"
                                        height="auto"
                                        viewBox="0 0 24 24"
                                        fill="#ffffff"
                                        class="icon icon-tabler icons-tabler-filled icon-tabler-brand-whatsapp"
                                    >
                                        <path
                                            stroke="none"
                                            d="M0 0h24v24H0z"
                                            fill="none"></path>
                                        <path
                                            d="M18.497 4.409a10 10 0 0 1 -10.36 16.828l-.223 -.098l-4.759 .849l-.11 .011a1 1 0 0 1 -.11 0l-.102 -.013l-.108 -.024l-.105 -.037l-.099 -.047l-.093 -.058l-.014 -.011l-.012 -.007l-.086 -.073l-.077 -.08l-.067 -.088l-.056 -.094l-.034 -.07l-.04 -.108l-.028 -.128l-.012 -.102a1 1 0 0 1 0 -.125l.012 -.1l.024 -.11l.045 -.122l1.433 -3.304l-.009 -.014a10 10 0 0 1 1.549 -12.454l.215 -.203a10 10 0 0 1 13.226 -.217m-8.997 3.09a1.5 1.5 0 0 0 -1.5 1.5v1a6 6 0 0 0 6 6h1a1.5 1.5 0 0 0 0 -3h-1l-.144 .007a1.5 1.5 0 0 0 -1.128 .697l-.042 .074l-.022 -.007a4.01 4.01 0 0 1 -2.435 -2.435l-.008 -.023l.075 -.041a1.5 1.5 0 0 0 .704 -1.272v-1a1.5 1.5 0 0 0 -1.5 -1.5"
                                        ></path>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </article>

                <!-- Card back -->
                <article
                    class="lg:card-back bg-white rounded-2xl absolute inset-0 backface-hidden rotate-y-180"
                >
                    <div class="relative h-full w-full">
                        <header
                            class="w-full flex items-center justify-center flex-col relative"
                        >
                            <img
                                src="/bg_digital_card.png"
                                class="w-full h-[165px] object-cover relative rounded-tl-2xl rounded-tr-2xl"
                                alt=""
                            />
                            <a 
                                class="absolute w-16 top-3 right-3 "
                                href=`${contactInfo.website}`>
                                <img
                                    src="/logo_rand_variant.webp"
                                    alt=""
                                />
                            </a>
                            <div
                                class="absolute bottom-[-4.5em] bg-white p-1.5 rounded-full"
                            >
                                <img
                                    src="/lic_Luna.webp"
                                    class="w-[130px] h-[130px] object-cover relative"
                                    alt=""
                                />
                            </div>
                        </header>

                        <div
                            class="pt-[5.8rem] pb-2 px-6 flex flex-col items-center justify-center gap-5"
                        >
                            <img src="/QR.webp" alt="" class="w-40" />
                        </div>

                        <div
                            class="flex flex-col absolute bottom-5 right-3 gap-3"
                        >
                            <h2 class="font-bold text-sm relative text-end">
                                Nuestra Unión es tu solución
                            </h2>
                            <div class="flex items-center justify-end gap-3">
                                <div
                                    class="bg-[#2e313e] w-0.5 bg-opacity-30 h-[55px]"
                                >
                                </div>
                                <div class="">
                                    <h3 class="text-[10px] font-bold">
                                        Lic. Josué Alejandro Luna Monroy
                                    </h3>
                                    <p
                                        class="text-[8px] font-semibold text-[#353535]"
                                    >
                                        Director Ejecutivo
                                    </p>
                                </div>
                            </div>
                        </div>

                        <a
                            href=`${contactInfo.whatsapp}`
                            class="hidden absolute xss:bottom-[2rem] xss:left-[-1.5rem] xss:p-3 xs:bottom-[2rem] xs:left-[-2.5rem] xss:flex items-center justify-center xs:p-4 bg-secondary border-[2.5px] border-white rounded-full"
                        >
                            <div class="xss:w-9 xs:w-[50px]">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="auto"
                                    height="auto"
                                    viewBox="0 0 24 24"
                                    fill="#ffffff"
                                    class="icon icon-tabler icons-tabler-filled icon-tabler-brand-whatsapp"
                                >
                                    <path
                                        stroke="none"
                                        d="M0 0h24v24H0z"
                                        fill="none"></path>
                                    <path
                                        d="M18.497 4.409a10 10 0 0 1 -10.36 16.828l-.223 -.098l-4.759 .849l-.11 .011a1 1 0 0 1 -.11 0l-.102 -.013l-.108 -.024l-.105 -.037l-.099 -.047l-.093 -.058l-.014 -.011l-.012 -.007l-.086 -.073l-.077 -.08l-.067 -.088l-.056 -.094l-.034 -.07l-.04 -.108l-.028 -.128l-.012 -.102a1 1 0 0 1 0 -.125l.012 -.1l.024 -.11l.045 -.122l1.433 -3.304l-.009 -.014a10 10 0 0 1 1.549 -12.454l.215 -.203a10 10 0 0 1 13.226 -.217m-8.997 3.09a1.5 1.5 0 0 0 -1.5 1.5v1a6 6 0 0 0 6 6h1a1.5 1.5 0 0 0 0 -3h-1l-.144 .007a1.5 1.5 0 0 0 -1.128 .697l-.042 .074l-.022 -.007a4.01 4.01 0 0 1 -2.435 -2.435l-.008 -.023l.075 -.041a1.5 1.5 0 0 0 .704 -1.272v-1a1.5 1.5 0 0 0 -1.5 -1.5"
                                    ></path>
                                </svg>
                            </div>
                        </a>
                    </div>
                </article>
            </div>
        </div>
    </main>
</LayoutDT>
<style>
    
    .perspective {
        perspective: 1000px;
        transform-style: preserve-3d;
    }

    .transform-style-preserve-3d {
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
    }

    .backface-hidden {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }

    .rotate-y-180 {
        transform: rotateY(180deg);
    }

    .card-container {
        transition: transform 0.05s linear;
        transform-origin: center center;
    }
</style>

<script>
    import { gsap } from "gsap";

    
    function isMobileDevice() {
        if (window.matchMedia("(max-width: 768px)").matches) return true
        return false
    }

    console.log(isMobileDevice())


    if (isMobileDevice()) {
        // alert('asa')
        document.addEventListener("DOMContentLoaded", () => {
        let isFlipped = false;
        const cardContainer = document.querySelector(".card-container");
        const mainContainer = document.querySelector("main");

        if (!cardContainer || !mainContainer) return;

        // Configuración inicial para prevenir el comportamiento extraño en el primer flip
        gsap.set(cardContainer, {
            rotationY: 0,
            transformPerspective: 1000,
            transformStyle: "preserve-3d",
            transformOrigin: "center center",
        });

        function flipCard() {
            isFlipped = !isFlipped;

            // Timeline para mejor control de la animación
            const tl = gsap.timeline({
                defaults: {
                    duration: 0.5,
                    ease: "power2.inOut",
                },
            });

            tl.to(cardContainer, {
                rotationY: isFlipped ? -180 : 0,
                transformPerspective: 1000,
                transformStyle: "preserve-3d",
                transformOrigin: "center center",
                onStart: () => {
                    // Desactivar temporalmente el efecto hover durante el flip
                    mainContainer.style.pointerEvents = "none";
                },
                onComplete: () => {
                    // Reactivar efectos hover después del flip
                    mainContainer.style.pointerEvents = "auto";
                },
            });
        }

      

        // Gestión de eventos táctiles
        let startX = 0;
        let startY = 0;

        mainContainer.addEventListener("touchstart", (e) => {
            startX = e.touches[0].clientX;
            startY = e.touches[0].clientY;
        });

        mainContainer.addEventListener("touchend", (e) => {
            const diffX = startX - e.changedTouches[0].clientX;
            const diffY = startY - e.changedTouches[0].clientY;

            if (Math.abs(diffX) > Math.abs(diffY) && Math.abs(diffX) > 50) {
                flipCard();
            }
        });

    });
    }

    if (!isMobileDevice()) {
        document.addEventListener("DOMContentLoaded", () => {
            let isFlipped = false;
            const cardContainer = document.querySelector(".card-container");
            const mainContainer = document.querySelector("main");
    
            if (!cardContainer || !mainContainer) return;
    
            // Configuración inicial para prevenir el comportamiento extraño en el primer flip
            gsap.set(cardContainer, {
                rotationY: 0,
                transformPerspective: 1000,
                transformStyle: "preserve-3d",
                transformOrigin: "center center",
            });
    
            function flipCard() {
                isFlipped = !isFlipped;
    
                // Timeline para mejor control de la animación
                const tl = gsap.timeline({
                    defaults: {
                        duration: 0.5,
                        ease: "power2.inOut",
                    },
                });
    
                tl.to(cardContainer, {
                    rotationY: isFlipped ? -180 : 0,
                    transformPerspective: 1000,
                    transformStyle: "preserve-3d",
                    transformOrigin: "center center",
                    onStart: () => {
                        // Desactivar temporalmente el efecto hover durante el flip
                        mainContainer.style.pointerEvents = "none";
                    },
                    onComplete: () => {
                        // Reactivar efectos hover después del flip
                        mainContainer.style.pointerEvents = "auto";
                    },
                });
            }
    
            // Efecto hover 3D mejorado
            const handleMouseMove = (e: MouseEvent) => {
                if (!isFlipped && cardContainer) {
                    const rect = cardContainer.getBoundingClientRect();
                    const centerX = rect.left + rect.width / 2;
                    const centerY = rect.top + rect.height / 2;
    
                    // Cálculo suavizado de la rotación
                    const xAxis = ((centerX - e.clientX) / 25) * 0.8; // Reducido a 80%
                    const yAxis = ((centerY - e.clientY) / 25) * 0.8;
    
                    gsap.to(cardContainer, {
                        rotationY: xAxis,
                        rotationX: -yAxis,
                        duration: 0.3,
                        ease: "power2.out",
                        transformOrigin: "center center",
                    });
                }
            };
    
            // Reseteo suave
            const handleMouseLeave = () => {
                if (!isFlipped && cardContainer) {
                    gsap.to(cardContainer, {
                        rotationY: 0,
                        rotationX: 0,
                        duration: 0.5,
                        ease: "power3.out",
                        transformOrigin: "center center",
                    });
                }
            };
    
            // Gestión de eventos táctiles
            let startX = 0;
            let startY = 0;
    
            mainContainer.addEventListener("touchstart", (e) => {
                startX = e.touches[0].clientX;
                startY = e.touches[0].clientY;
            });
    
            mainContainer.addEventListener("touchend", (e) => {
                const diffX = startX - e.changedTouches[0].clientX;
                const diffY = startY - e.changedTouches[0].clientY;
    
                if (Math.abs(diffX) > Math.abs(diffY) && Math.abs(diffX) > 50) {
                    flipCard();
                }
            });
    
            mainContainer.addEventListener("mousemove", handleMouseMove);
            mainContainer.addEventListener("mouseleave", handleMouseLeave);
        });
    }


    const saveContactButton = document.getElementById("saveContact");
    const logo = 'iVBORw0KGgoAAAANSUhEUgAAAV8AAAEtCAYAAACvX2NLAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAALiMAAC4jAXilP3YAACqcSURBVHhe7Z1tsFXVeceXgiMqKIGrXMkNuSoRDJdCAItFHHFizUvT1mltk7ZpajudTj61/dx+aDNtZ/o+fZm2Se1MTGNS0jEZk5qEGFNjgkEiIARiQdFcDeDVXhQCvkAs9Pz23QuOl3P2WWvvtd//v5k795wN4jn75b+e9Tz/9azzlq246bQRQghRKOfHv4UQQhSIxFcIIUpA4iuEECUg8RVCiBKQ+AohRAlIfIUQogQkvkIIUQISXyGEKAGJrxBClIDEVwghSkDiK4QQJSDxFUKIEpD4CiFECUh8hRCiBCS+QghRAhJfIYQoAYmvEEKUgMRXCCFKQOIrhBAlIPEVQogSkPgKIUQJSHyFEKIEJL5CCFECEl8hhCgBia8QQpSAxFcIIUpA4iuEECUg8RVCiBKQ+AohRAlIfIUQogQkvkIIUQISXyGEKAGJrxADmDVrlpk7d278TogwSHyFGMANN6w1H/3o70S/hQjFjCuG3/7H8WshvBgdHY2iwuPHj8dHmgcR74c+9EEzc+ZMs3jx4ug7T0y80OjvLIpB4iu8QXBvvfXd5gMf+BkzNDRkdu7cFf9J80B4u1MOvF6zZnX0enz82ei3EGmQ+Aovli5dEgkSUSAgRq+//ro5cOBg9L5J8F3Xr78xfvdmiIBXrlwRRcFHjhyJjwrhjsRXOEG0e8cdv2g2bLg5et3NyMiI2bZtu3njjTfiI/WH78ggM/27dsOfIcD8ZvBp0vcX+SPxFQOh0IQQDQ8Px0feDPlQ0g979nw/PlJ/iHiXLl0av0uGwWdsbFkUAU9OHo6PCpGMxFf0xRabyHEisEkgvuRAmzAFt9/bB6LfsbGxaIDav/9pRcFiIBJf0RPSCwhQd7FpEKOjb4+Kb3UXHt/v3Q2DEIMV56CJeXARDomveBMUkj70oV+OojhfiP4QnTq7AJKKbK5029I4FxQkhZiOxFdEIJzWPjZ79uz4qD8Izt69+2rpg+UcEPXyOwREz3ZhhmxpYjoSX3GOfSwrdfX++hTZfGBA4hxTjJMtTVgkvi2GCK+ffSwLRHx18/6mKbL5wGxCtjTRjcS3pQyyj2Wlbt7fLEU2H2RLExaJb8uwEZ6LfSwLdfL++hTZLrhgprlo1oXmxz9OP6gQ/cqWJiS+LSKNfawfcy+b0xGRC83rJ07GR86lDt5fhJBz4pp2Wb5ssVl7/fLo9ZGjx8ypU6ei12mQLa3dSHxbQBb7WC/eufTqSICGFwyZp55+Lj7aG7y/jz66NX5XPXyKbJcPvcWsWnndmdeLRoYjAX711fRWMtnS2ovEt8EQzYWwj1kQnA3r15iFV14evWcKDv87+XL0uxc2oqyi1cq3yLZuLQWzC+N3U99/dNFCc8nFF0XnIEsUzGeRLa1dSHwbSkj7GCKzuhPxrVh+7RnBtSDIzz73fGIOlKgO61nVojqfFAzR/ts6kW4vSMFcc9WIOXb8lc7Pq/HRdMiW1h4kvg2DSDOkfYwol2h33rzL4iPngvggwElQXKqS99enyEZkS9SbxIwZ50fizGA0OXkkU0FOtrR2IPFtECHtY1Zwll47GglLEvxdxOall4/GR86FCJNIjv63ZYOo+RTZOA98Rxf4e6QiOGdJ6RgXZEtrNhLfBmBzl6HsY++4ZlFUUJsz55L4yGDmdyLjZ8YPJOY9mVJXwfvrU2TjXFx91Uj8zg2ElwiYWcNLL/8o0REyCAYI2dKaicS35oS2j61f964zkZsP/P1LO2L9w4P9I1sGBqbU9H4oCztQuUB+m6jX91xYKM4h3Pw7zApkSxPdSHxrSkj7GOJAeoFot7ua7wuRMtarpKITEVyZ3l+fgeqGzvlgQMoKswLZ0sR0JL41g2loaPvYTetWnbGPZWX+vLlm/LlDA9IP5Xh/fYpsnBcWVISCAY4ZBWI+8eJh2dKExLdOhLaPEdkhMLwOBf8W0/QXOgLTD1voKlI4fIpsfAcGpJDnxcLsAFvaiRMno0g4C9aWRhpCW9nXD4lvDUAwQtrHiMBuWveuIFPqXjDNptKfNMVGOIr0/voU2RiQhhfMj9+Fh8GJmUYoWxq5YO4L2dLqhcS34uRhH6OCn7aI5ArC/sx4cmGoKO+vT5GNz339qmXxu3zhenAtIJQtTVvZ1weJb0WxghHKPsYKLUTFxz6WBVu4SxIVvmMR3l/Oo2uRDbdHlqJjGqwtjUJlloIc0S+LM2RLqwcS3woS0j7Gg020y+qrvKPd6fD/dll6nKf316fIlrSEOG8QfNJB5JlD2dLIA1dhUYvojcS3QoS2j5G7pAtX0ZFcN0zjk5Ye5+n9JRJkEHPJk5MCYGZQ9AA1HWtLe+XV1zL1ieC8kuOWLa26SHwrAOIQ0j7GFPbGtStzLRq5gqgxlU6q7Ofl/fUpsjE7KColMwgGTiJwBi5WyGUpyDF7IhWBGMuWVi0kviWTh32M6XMeNqm0kH4YvPQ4rPfX5sxdYLpvC19VgsGAz8Z5S+qbMQiEV7a06iHxLQmi3ZD2McSD6C0v+1gWmMoPWnpsz0Go6Mw1Z84ghe2u7HRDP/hczGAYwI4ePZ6pT4RsadVC4lsCIe1jiC3LgukhUFUBAaK4Qd5fzgd7vmXNT/oU2UItIc4b0je2wY9sac1A4lsgdioc0j6G8PJg1oErhuYlLj3mnGT1/hLVcY5dZhNEkyGXEBcBn5lURNY+EZwf2dLKReJbEKHtY93b+dQFpvhE50lLjzk/ExMTqfvXuhbZptIN+Swhzhs+MwLMoEsULFtaPZH45kxe9rE6igZgpTr0/P8m5i4pPqbx/voU2ejiVrfBazqkS0JsXyRbWjlIfHOCaV1o+xjRLlFv3WFLoqSlx4gBP0yHfXCdWdg8eRNgJhFq+yLOnWxpxSHxzYGQ9jFr/ie/W+WCmg8uS48pCvl4f32KbGUsIc4b7hPZ0uqFxDcgRLuh7WNEaHWoxvvCdzpw8IXESG14eEGUfhgE59q1yMY5RaSaiLWlMUvKun2RbGn5I/ENRGj7WNrtfOoC34vvmbT02KZrBk2BXYtsRIcMZk09pxaiemtLwxWRpSAnW1p+SHwzYos8IexjFNFCbOdTFxBDl6XHSd5fnyJblZYQFwF54BDbFxH9ypYWHolvBkLbx0Ju51MX+N5JS48Z0JK8v67nn/PKwNY2rC2NWUbW7YusLW1yclJb2QdA4puC0Pax1SuvMyuWX1tb+1gWSAFc1InysZ/1A3Ht5f11LbJxXnGKND3dkAQRf4jtixgMue9lS8uOxNcDpl8h7WNEJPQVwHrVZojKBi09nu799SmyMbi1/RwDgw8zgJC2NK4HBTnhj8TXkdD2saK286kLLkuP+bHeX9ciG0LDrEKcxdrSuPey9IngevA8yJaWDonvAIisQtrHit7Opy6QGkB4Xby/4FJk49+s6xLivEF4GZiIhLNuX2RtaYArQgU5N85btuKm0/FrMQ3sY6FEl6n1mlXvjH6L/jz40NbEnCR2p4VXXmFefW2wh5WBjh8xmKeefs48sfeZTKkI4Prcd9+XOoPkeHxE9EORbw+sfSmUfYx+DES7bbCPZWXQ0mMGwve/56aBzdkZ5JqyhLgIQm1fxPUhF8wzxCxFUXB/JL7TCGkfY0pXle186gIDFNFX0hJZBjOmzUnd0RBecpvCHQIFu31RVlsa9kDZ0pKR+MaEto9VcTufukAUlrT0mPPK3+nnkKCQaVd4CX+sLQ3xzdonQra0/rRefJkmhbSPVXk7n7pAVMv567f02OZx+TvTUxRtWUKcN5y/UNsXyZbWm1aLbx72sapv51MXOJ8U3nrlH6349kpRkFvXwBcOrkOI7YtkSzuXVoov0W5o+xjCqxxjWIYXDPUsrFnxBdIP9u+QY+/+MxEOImC8wVn7RMiWdpbWiW/I7mPckIguRQoRHmYQLIednnfsFlj+DjsjUyBq+xLivKF+gQDzm2uSpSBHHrjt3dJaI7552MfYzkf2sfwgwtq6bXf87izTo1sKRETAWrhSDJzrENsXtd2W1opFFqQX+AkBU1vyinIx5M/Dm7f3zDPecfut8StRNjRE2rX7ycgfnAWcEPfd90Wzd++++EjzaXTkG9I+Rj63adv5VBmcDqy66oXyutWB2QapCNnS/Gmk+OZhH8O+pCp6MeBg+PaWx/vmFCW+1YJgJNT2RW2ypTVOfEPaxxBbRFf2sWLZ88T+RFuTxLeaUP8IsX1RW2xpjRHfkPYx8rl2Ox/Zx4qFh3bbjifid72R+FYbXEAhti/qtqXZbnZNohEFt5Ddx7hxyO1efHH2f0v4M6irGajgVh/I3e/cvU/d0npQ68g3tH2szdv5VAEKbEm7GVsU+dYHUnchti+ytjR+k4pogi2ttpEvkS4Rb4hoV/ax8iEy+soDm50iJEW+9YQ8Pikl2dKmqF3ky8q0D3/4VyNbStZol3wuK9TI76qgVi6P79rrbFVS5FtPeN5CbV/E848WEAXX1ZZWG/ElwsU+dvvtPx/EPsYDTLSrVVHlw4OIUd8ViW99QXipq4SwpbGVfZ1tabUQX4zXRLuh7GPr170r6segaLcafGvzDq+CjMS3/lhbGqm+LH0irC0NjaBPRJ1saZUWX6Jd7GNEvFlzu1xkbedTPZ7Y+0y0RNUHiW9zoE9ECFsaxfe62dIqW3BjOvHe974ns+iC7GPVhIft6w896m1DUsGtmTAIP7bj+62xpVUu8rX2MZwMIexjbOdDxCsnQ/XgQWOXBF8U+TaTUNsXEbDVwZZWqcg3pH2Mqqo8u9WFKOc7W3fF7/xQ5Nt82mBLq0Tkm4d9jGY4KqhVE6aVW7Z+L/X0UpFv8+E55hmGptrSShVfItzQ9jFt51N99j017l1k60bi2x6sLY2m7VkKclW0pZUmviHtY1wgbedTD3iA0qYbLBLfdoE7KcT2RVWzpRUuvkS7oe1j2s6nPiC8WSIYkPi2k1DbF1XFllZowS2kfYypyMrlS2QfqxE0zcHhkBUV3ESo7YvKtKUVEvmGtI+Rz8WzS/QjJ0N9oLiWtDuFD4p8RajtiwgEy7Kl5S6+2McoqJHwzoq286kvg3an8EHiKwA3E9sXUfPBL56lT8TIyEiUipicnOz8HI6P5ktu4hvSPqbtfOqNy+4UPkh8RTfMhkNtX1SkLS24+BK+h7aPaTuferN5y85MUcl0JL6iF0TAIfpEFGVLCyq+oe1jG9aviQpror647k7hg8RX9IM6ELlggjXSXCFsaXltZR9EfIl2Q9rHtJ1PM6DIhrUsRJGtG4mvGITdviiELQ2jAIS2pWUWX8LzD3/416I8SVaIcol25827LD4i6ozP7hQ+SHyFC9SHWHjFLHpy8kimbmlEwGxlTzEOe1oIMlWv+DDkdrNGu0wRbl6/Olqlpmi3GTDlG3/uUPxOiPJAfG+9Ze2ZXhFpIcC8886PZNY7SybxpVNQ1lCcE8KJ4QSJ5hDS3SBEVgjqSGWiNVmsqps2fS1Y/jezb4sPkwZOACdCud3mwe4UWVceCZEHWXSHQPPRR7fG77KTWXwnJia8PhBfmJxd1hFIVBMsPjgchKgyzLh/+pYbnGfcti9wSIKsWPjmNx92CsX5onxhFUyay87d+zIVNoQoCvrCuNaaEN5QhTZLEPFFeJPSD3wxviBfVI1wmgvNTrL06RWiDHBZvf+29ZE/uBfUtvLYCSOI+MLOnbt6Ft/4QnwxLZZoNkS7dJkSoo4QIK5Z9c4oQOxeTTvV9SxsusESTHyhO/q19jG+kG9iW9QP8rwqsom6Q2r0fbfdeCY1SrvJPFa3QVDxtcU3W1CTfawdUGTD4SBEU0DDlix+a2c2n1+f36Diiwn5l37h/dEHV7TbHkI0SBeiahw7/lq0vDgvgokvfXs/+tHfMcdeCde9SlQfmuaE6tMrRFWgM9qhiZfM7//+70baFmpVWzeZezuw5pkld0uXLo3e0zqQqJf9lkSzCbk7hQ+yKoq86W6DisaNjS2Lim8hG62njnwZCdiPDeGdHpqT/8u6SaKoPlxneXpF06B4TOTbjd0K7c47fyNYKiJV5EtDHT4EI0IviIT48P18c6L+cH3L6t+gyFfkBUHj1m27+87multMsv18lj3fvCJfq/78DMqBkAeU4b65qHGOaCKuKzTJAzPzz4KX+PI/I+p1hSq4pqXNo9e0TIi647tCM2uTHS/x9W2nplVPzYNrSq5XiCbBfe1jmUR4WdeQBS/xpdpHEx0faKgtK1JzYDDVbEY0DZ/icRod7IW32yGN4pMf1ANbf7Q7hWgi3Nc+bVBDLTn2Fl/gf+4Da/7V47X+qMgmmojPfT21e0+YJcepxJfI1zfsJqxXkaa+cP3UOEc0DZ/7mmg3ZIezVOILiK9v+kHFt3qi3SlEEyEY9Ckeh9y/DVKLL2za9ED8yg3f3IqoBtqdQjQRn2CQXuX0LA9JJvEl9+HrdWOk0dLj+qDdKUQTIQj0cWHl0VA9k/gC6QefvY2IoIikRPXhWilVJJqGb/9pX41zJbP4TiWh/dwPiqbqAdGBimyiafik0dKYC1zJLL5A+sE3H6Klx9XGNzoQog74Bn6+dS0fgogvpFl6rIe7umh3CtE0fNNo1LNqsY1QGg+cb9JbFIN2pxBNhGDPNY0WaglxEsHEF9Lsb69VU9WC6EAFUdE0fG2uoT29vQgqvkD06/OhGYmUfqgOXAvl4kXT8Ek3pAki0xBcfBFeRg0feOC19Lh8uAZaBCOaho++pEmfpiW4+ALOB1aE+CA/afkoBSSaRhpPb97pBksu4gu+6QctPS4Xzr1mH6Jp+Lh2CBiz7k7hQ27im6ZaqHxjOcj2J5qIr5vKN12aldzEF6Z8cu7pB0RA/tLiIeWjQU80Cd+AgkAx67ZAvuQqvuA7mmjpcbEQGWh3CtE0fFbQFuHp7UXu4ptmbbQiseJQkU00Dd8Azrc3TShyF1/wDenl/S0GzrEa54gmQdBWpSXESRQivuA7uvgmy4Uf2p1CNBGfgAI3VhnpBkth4kvk62vjkPc3P7Q7hWgavouEfO2woSlMfIFRxqcpMSdT6YfwqKgpmohP/QIXVhFLiJMoVHynlu75pR8QX207FA7fnJgQdQCdqOIS4iQKFV9Is++bvL/hYFqmIptoEr71C98ZeF4ULr7Al9fS4+LR7hSiifh4etPUnvKiFPFNE/YjGioQZUMzCNE0fBv/l+Xp7UUp4gu+PTMRXolHerQ7hWgaaIJP43/f9QZ5U5r4gq/Vgwq9BCQd2p1CNA3fJcRVSTdYShXfNOkH7CRKP/izbu0Kc8nFF8XvhKg3BGG+S4h9Ar0iKFV8gdSDT+czLT1Ox+VDbzG33rLWvOOaRfERIeoJwZePp3dqc4dylhAnUbr4gm/6AeeDGn/7c8EFM82K5deam9evVhQsagvBl88S4qL79LpSCfFN09JN3bjSQxT8vttuNO9cenV8RIh64LuEuIhdiNNSCfGFqe5C7ukHLT3ODuI7b8755sWJg/ERERq81ThNRBh8lxCTcqgqlRFf8C2+MQJq6XF6jh07Zv70Y39gPvmJvzSPPLwpPipCwf359YcejZwmuk+z45NuTFPML5pKia9v+kHe32zc9Yl/igQYNn/zq5EIKwrODkL78ObtZzYF4EdWv2z4rs5kJl2FJcRJVEp8wdcIjeVE0zp/nty31/zHZz4dv5sC4bVR8InX1f8hDQjEVx7YfI4fXZ3ksuG7hNi3hlQGlRNf8F0CqN60/nzsj/4wfnUuNgp+bnx/fEQMgunwgw9tTYzOtD1WOnwXV1VpCXESM64Yfvsfx68rw/Hjx6Pfo6Oj0e9BnDp1ypw4cdIsvPLy+IhIgoj3/v+6L37XGyLfPbu+2zmvr5m3joyamTMviP+kfKrm0kBwt27bY17v3INJILwzZpwfuU2EG5wzUjg84y6Qbqhyka2bSka+4JuzYQdeLT0eDDlecr2ubHv0YUXBfXCJdqfD31XxzR2f2UIay2qZVFZ8p6qVftMHLT0ezN/+9Z+fKbK5cvTIS+Y/PvWP5htf+4JywR24xxBRhNe1+t6NisRuEEwRVLlSZU9vLyorvuDbeJ1VLz4G7Laxfdtj5v4vJacbkiAK/pe//5h5au/u+Ej7QBB8o93p8G+oSJwMA5yPp9e3S2IVqLT4AtMIn/QDD0WaaKQNJBXZXCHy/cLn/i36aVMUjBgwBSb/GGInEBWJkyGI8llCXHVPby8qL76cWN+12Vp6fC53feKfzfOHwnl4iX7bEgXbaDfkrMqmLsS5EDz5nBsCtDqlGyyVF1/wnVJw8ZR+eDP/lSHd0I+mR8Gho93pcI8q+j0X3yXEPqnJKlEL8QXfzmeMnKoqn+UTd33SrF5zffwuLDYK3r3zu/GR+oO3NHS0283cy+ZELT7pNCfOwvn2SRvWMd1gqaTPtxdvvPGGmZycNGNjY/GRZPAFchFHFy2Mj7SbOXMuNR/4udvNwoVvNTu2P2ZOnkz2pPryf53r89S+3eaHz+43i0bfYWbNyq9lZZ4+XyLRrdt2R4N3HlEpYrt82WJz/aplnXN0YXxUAMES597V00u6oW5Ftm5qI74wOXnYDA8Pm6GhofhIMlxMIow5cy6Jj4hrlyw1v3DHBzvTtR+YZzs/ocGWtnvXd6NFGQtH3BbJ+JKX+BLtkmI4enRqkU9oWFxx07pVZnjB/PiI6AYLnuu5Zwnxvfd+IX5XT2olvnDgwEGzcuWKzsPtNl2bePGwueaqkWhlkZjiwgsvNLe9531mSUeIt3xncy5R8A+e/p/couDQ4tsd7bpGXT7YaHfVyuuUZugDA59PkQ3hrXrjnEHUTnzJ+5KCWLx4cXwkGS097s/oVVfXMgoOKb74bb+95XFFuyXC4Oe7hHjbtu3xu/pSO/EFol/6PsydOzc+kgy5Xx4CbZ1zLkVGwQuGR8wlsy+N/yQ9IcSXlNR3tu6KCjyKdstlzxP7nVsDEHxt3PifUQBWd2opvoDFxCf9MDl5RJtHJmCj4JMnT5g9u78XHw0HUfDO7Y+Y8847zywadZu19COr+CK4pBmOHX81PhIWZlkb1q9RAx0HEN0du/bG7wZz772fNxMTL8Tv6k1txZcREOF17XxmK9d6IPpDFPxT69ab1Wt+0mzf/pg57tkDwgUa9OCKoFNa2ig4rfjaaPeZ8YO5Rbs3XL88+nyqMbjxrc07nF0lOBvq1DhnELUVXyD6Xbp0iZk9e3Z8JBlGWaISWXySwY6GLS2vKPiV48cyRcFpxLeoaBd3jXCDAptrg3mbbvDx+ledWosvkP9ds2Z1/G4wPHzy/g6myCh4/tACc9ncefHRwfiIL/l+eu0q2q0W9rq48uCD3zD79z8dv2sGtRdf38brTD15YObPuyw+IpIoIgr2bdruKr5EVjzgXPM8oIawbu0KRbsp8LkuzHDvv//L8bvmUHvxBVt8mzVrVnwkmZdePmoWjQyrCu2IjYI33PLuSIAPH56M/yQchw48a/7n+zvMFcMjA6PgQeJLVLV5y07zw4P5FGZwzSC6V8s/ngpSQMxEXCHdYIOsJtEI8QUqoAiwC0w/aZTyto4AC3fmDw2ZX7zjg1Gult7AoaE5j0sUnCS+NtodtKVPWoh2116/XKsmU0JxjaKnawqIAtuePc1sPt8Y8WW1C5HvyMhIfCQZcr9aepwOGvSUGQX3El9Fu/WAoqfrghaeaXazaYKntxeNEV+g+DY2RsMSt/SDlh6np6go+EdHX4qWKHdHwd3iSySFSZ82hIp2q43vEmLSDTTTaiqNEl9GSN/0Az9a+pkeouCf/bnbzZNP7jXPH3Lfb8uVFycOmse3PxI5IvgBK75YB4l2GUTzgJnR+nXvitwxGqCzwSC5Zev3nD297EBc1z69rjRKfIGpik/nM4pvWnqcDduukt97du/KZYkyaYgXXzhorl58nbluyTVRtMvKKNeH2RcEnmhXnvAwcL1cB0m8vPfc89nGphssjRNfwA+I91dLj4tl+U+siPpE5BUFvzT5YhQFj4wuzz3aVTE2HG1eQpxEI8WXEdOn8bqNnrT0ODtFRME/eeOt8buwKNrNB9INrvl4bKMsqGgDjU1k+e77RiEgLzN+G/mVX/t185mNn89t66KQMOiypU8vF4XIBs8VThQXSDfUeVsgXxpdRfDd941O+iIcVy58q/n4XXebv/7bf+hEwtVbBcYimxXLrzU3r1+tVWo5QDDj426gwFb3Buk+NFp8EV6fLkjkplh9I8Jy8y3vNl/88tej31WBaPenb7lBuf4c8Qlm2BaoSR3LXGi8f4bRlDySK4zUeVXQ2wyRLxFw2VFwd7R78cVufnDhD0EMwYwrLKZoG60wL/qkHxBepR/yo8woWNFuMfAM+aYbiHzbRivElzySz5SGlTiufUaFP91RMHnhvGHgfXr/k2bViiWKdguA4MV19uj7bDaJVogv+I6uu3Y/qfRDzhD9fvyuT5kFC6+Kj4QHx8vf/d0/mE/fs9Hc8cHfMo9t2xn/icgDUg0+gQvpBp+ieJNojfiCT16Jrmc+UyfhD0L4m7/9e2b84I/MidOXmtMBb0ce6I0bPxf92If74KGJzv/vdzsR979oYM0Bzik9NlxhYBwfH4/ftY9GLrLoh2/jdS09zodjx46bP/mzvzF/8Vf/GL2G02aG+T8zy5jzkOBkYVy/4X3xq97wUN9997/3XSV15Ohxc+nc+eaiWRfKYhYQ3yXEXKOmLyFOolWRL5Bf8k0/iHD890PfNre9/5fNfV/6anzkLKfNeebHpy9JHQWTP5we7faDKI3c5MObt2txTQBYSOFj09y06WutTTdYWie+sGnTA/GrwXBTKf2QHQQOofvs5750JtrtxylzgXn99Fs68e/F8ZHBkNP/+Mf/1WtVI5Cj/PpDj+oaZ8Qn3YD1k65lbaeV4kueiYfVFR5MRUfp4fwhcAida69l+PHpizpR8GUdMe7fIIlol+lrlkiKKJjP+OBDW52XwoqzcO58zlublhAn0UrxBdIPPksZ5f31hwcSQePhTFvgQngR4F5RsI12QxVt7OeV08UdghKfdIPvc9dkWiu+REk+7geitmefez5+J5JAuBCwkJFkdxQcItpNAjHhs8vrPRgfT28blxAn0VrxBSImn9zTzt37FBENgEEK4cqjR4aNgvHt5m1RwmrIRo/86Jr3hmCE6+2KT62lDbRafMEneuIhVPqhN5wbhIqiGsLVFIh+v/LA5lwGkzrD9SYYcYUUUZs9vb1ovfhOpR/cCwA8jD6jfRtAmBAol2n63Llz41f1AaEhjSJb2lm0hDg7rRdfwJ7kY1HCVuN64zUZax/zKVDVUXwtDLoMMhQQ2wznwScfLk9vbyS+MT6dz7T0eMpehBC1cRbAd//qA4+08rszyPouIfb1XrcFiW8MwssI7QpT7TZ6QhEcax9rMwzAvlF/E+C+d83p+z5TbUPi2wXOB5/G6z4RQN1BYGzes42DTj988t11h+vuM+jK05uMxHcaPukH35uxrqjinwwDk7WlNbkg57uE2GcVaRuR+E7DtzKLIDX1geN7hfa6NnlbdgYpllE3cZDiO/nMeJRuGIzEtwdTnkS39AOi1ETvLw8bQhJ6Oj08PBy/aiZNTM8wCPumG9q4LZAvEt8++IzcFKGasvQYwcirkFSVAoxrWikL3YXJ0OexaOTpzYdWNVP3wbfxOg/bNVeNmBkz6jueIRRbt+3JJY2C3Wjjxv80+/c/HR8pD64tn2doaCh33zH3xYGDL0RN2+vYlJ+Zz76n3FemcY1VZHND4psAqYelS5eY2bNnx0f6c+rUKXPixEmz8MrL4yP1AYH41uYduVTseRB5IDdvfqSQiNMVBBh3C59pZGTEzJzZv21lVogamRkxqLEzSl0GaD43syDubRdI123btj1+JwYh8R3AgQMHzZo1q+N3yTBlr9O2Qzxcj+/am5tXleknneMmJyfjI9WD64tgMMDmnY/m/nhm/IC5dM4lZk7np+pwb7CVlgsMYgyybd4WyBeJ7wCIkGgATnTkwuTkETO6aGHloxuiXKIa14fLB2YMtHxkal+Hh5HPyGflc4+Ovt2r4bsvRJE/PPhCNNu4YmieueCC/CLuLPD5GJRduffez/fdM0/0RuLrANHR2Ngyp4eSCBLhJQKuItY+Rh7PdTrpCtHP/fd/OSqqVSnF4AopEutNdc31p4XrMP7coegaVO1e4R7evGWn82yIQevBB78RvxOuSHwdIDJiVF+5ckV8JBmiBnK/VfO0Yh/bum23OXb81fhIOBAtpp0MVHUHMSEfTBoiz4Icwsu9wixk3rzLKnO/MDC75v8ZZO+557O1HGzLRuLrCFGRT/rhpZd/ZK6+yu3v5g25RiIZij6ho138nDx8iFWT8n2ICd+J604UnGdB7vUTJ80z4wejSHN+R4TLTFlxr+B4cYWItwoOljoi8fXAFt9cHkQeKPJ5PExlwcO854n90bJQPk9IECcePApq1pbXRJjxUJDjmrsOvGkh/162Lc3HasjA67MVl3gzEl8PiOyo3I+NjcVHkuFhWjQyXEpRheks0e7Ei4fjI+GgOEVBjel5G+C6E93xfYeHFzhZD9PCgMkMhQh0eMFQoVEwaSkicFeY8TR54M0bia8nk5OHo1wgBv1BMMXnIcL9UBQ8vOR1iXhdCyaudHt2m5RicIXvb32s3AN5piLIy2NLQ3yLmD0R7XLfuKalsBHu2aMttbIg8U0BUZBr+oGbmmlkEb5OIqZvb3ncHD0aPhrhYdPqpSmIgBEeinEug3BaEMIXOjOXImxpLCF2vW+4B0g3tHEADonENwW+6Qem/nkuPbb2MaaNoQtqCI317IqzkPNGgMl7kgvO0xvM9eXaQh62NJwNPo1zGISrvHCmLkh8U0L6gSq4ixUJQcxr6TEPTR59ZBEXjPMU1WQj6g/3Aa6IIgpy1pbGLCpUQY7UlM8SYgZh0k4iOxLfDBAV4v11ST+Q+w259JgHccvW70WrpUJjPbtaseSGLcghTHk368G1QnoJ0QxhS6M2wL3kAoMwsyClG8Ig8c0ANyM34uLFi+MjybD0+B3XLIrfpYOHjgdmx669we1jDCaIbtM8u0VRZLMea0tjME9bT0B0uY9cYfViExbRVAWJb0a4GV3TD9Z9kDZvx5STaDe0fQyxIL3AwyXrUHa4J3BFEAXnWZDjfmLmw6xq/ry53gU5OtnZe3IQDMzanSIsEt8AcGPecMPa+F0yRBu+S495QLAB5dGYm0gNvybfQYSDmQMFOc5r3s16sKXRJ8LHlsa9pCXE5SLxDYC9KV2bsfCwuHp/qXJTUAttH7OeXfK7SjHkB+e5iGY93bY0rI1Jg7vvEmIKbHK7hEfiGwgiHNfG6zgTBi09tg8IK45C2scYKHiY5NktFu4PZhl5N+vh3rKr1Pqlt3yXEN977xfidyIkEt+A2N4PLiQtPc5rOx8EgOmjophyYOBDgBn08m7WQwSMK2J6nwgtIa4OEt+A2JvUZXpJNPvKq6+Zt3UE2MIDk8d2PlMrkr4oz25FKKpZD/UBBJhBnCiYe44UlutMinQJg4XIB4lvYHiwXBuvk/u1+TlrHwtdULNb+cizWy3IsxfVrIcUFn0iGNxdezkzYJNuUD0gP85btuKm0/FrEQgi3zvv/Ej8LhmbdggtujzUWIPI2Ynqs2HDzZFjJk9XhA8bN35O6amcUeSbA0QNro3XmQKGLqjZrXyUq6sPDJZFNOtxAdFlxiTyReKbExTfXNMPobCeXa1CqicMnEU16+kHn0FLiItB4psT3LxEwK6dz7Jg7UDy7DaDIpv1TIeiLFG4yB+Jb474NF5PA1EKnl2EF6EXzcEW5Ipo1mNBdElZiWKQ+OaMT+N1H3goWSihokizKbJZD+kG/j+iGCS+OUME49N4fRDWs0tBRA9Ke8i7WQ/3kwbyYpH4FkCo9IM8u+2GgTyPZj0M6MyiRLFIfAuCyMW18fp0eNjsVj4qqAnEMmSzHvX5KAeJb0GQIkA4XRuvA/+N9ewqxSCmw6BMPjhLsx5E3O7ILIpF4lsgRL9EKi4PCg8FEYk8uyIJBmUEmMjVt1kP/y33mGZT5SDxLRiilaT0g/XsEo3ooRCupGnWwwapqh+Uh8S3YIg2eECm5+o4jsGdgprybyINDNauzXqoH2gJcblIfEuAh6O78br17PLgCJEVBm+bxyUfPH2WZdMN/BblIfEtCXK5ixdfEz0ErFLTgyBCwyCPNW16QY4Zlgb68lFLSSFaADOt9773PZ2o+Ki5++5PxUdFmUh8hWgJLMrgRzWFanB+/FsI0XBIbUl4q4PEVwghSkDiK4QQJSDxFUKIEpD4CiFECUh8hRCiBCS+QghRAhJfIYQoAYmvEEKUgMRXCCFKQOIrhBAlIPEVQogSkPgKIUQJSHyFEKIEJL5CCFECEl8hhCgBia8QQpSAxFcIIUpA4iuEECUg8RVCiBKQ+AohRAlIfIUQogQkvkIIUQISXyGEKAGJrxBClIDEVwghSkDiK4QQJSDxFUKIEpD4CiFECUh8hRCiBCS+QghRAhJfIYQoAYmvEEKUgMRXCCFKQOIrhBAlIPEVQogSkPgKIUThGPP/Pq7vGC0l0Q0AAAAASUVORK5CYII='

    if (saveContactButton) {
        saveContactButton.addEventListener("click", () => {
            const vCard = `BEGIN:VCARD
            VERSION:3.0
            FN:Lic. Josué Alejandro Luna Monroy
            TITLE:Director Ejecutivo
            EMAIL:jaluna@rand.com.mx
            URL:https://rand.com.mx
            ADR;TYPE=WORK:;;Goethe 24 col. Anzures;CDMX;Alcaldía Miguel Hidalgo;;C.Z 11590
            PHOTO;ENCODING=b;TYPE=PNG:${logo}
            ORG:Rand - Despacho de abogados
            END:VCARD`;

            const blob = new Blob([vCard], { type: "text/vcard" });
            const url = window.URL.createObjectURL(blob);
            const link = document.createElement("a");
            link.href = url;
            link.setAttribute("download", "josue_luna_contact.vcf");
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
            window.URL.revokeObjectURL(url);
        });
    }
</script>
